<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173429339251-eo7tcrfefcpua8gsumdrbkeccfr448dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173429339251-eo7tcrfefcpua8gsumdrbkeccfr448dj</string>
	<key>API_KEY</key>
	<string>AIzaSyCX1XJduKcKPtpI5glfO9Dq1pOqs1-4XU0</string>
	<key>GCM_SENDER_ID</key>
	<string>173429339251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodbuddyfinal</string>
	<key>PROJECT_ID</key>
	<string>blood-buddy-42dbc</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-buddy-42dbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173429339251:ios:80e970e807fafd0bec6606</string>
</dict>
</plist>